.trois{
    float:right; 
    width:10%; 
    background: rgb(195, 196, 182)
}

.deux{
    float:right; 
    width:80%; 
    background: rgb(220, 221, 207)
}

.un{
    float:right; 
    width:10%; 
    background: rgb(195, 196, 182)
}

