<body>
    <div>
        <div>

        </div>
        <br/>
        <div class="jumbotron">
            <p>
                Plus detailzz description about you and your company.
            </p>
        </div>
    </div>
</body>