<body>
    <div>

        {{!--
        <div>
            <div class="trois">-</div>
            <div class='deux'>-</div>
            <div class='un'>-</div>
        </div> --}}
        <div class="jumbotron">

            <p>
                Salut ma poule, je t'ai mâché le boulot, donate un peu please !! Cpte helvête : 12333-445*4455/54552
            </p>
            {{!--
            <div>
                <div class="trois">&nbsp;</div>
                <div class='deux'>&nbsp;</div>
                <div class='un'>&nbsp;</div>
            </div> --}}
        </div>

    </div>
</body>

</html>