<header class="top">
    <nav class="nav ">
        {{!--
        <ul class="nav__section nav__section--pages">

            <li class="nav__item ">
                <a href="/home " class="nav__link ">Home</a>
            </li>
            <li class="nav__item ">
                <a href="/about " class="nav__link ">About</a>
            </li>
            <li class="nav__item ">
                <a href="/contact " class="nav__link ">Contact</a>
            </li>
        </ul> --}}
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/about">About us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
        {{!--
        <ul class="nav__section nav__section--user">
            <li class="nav__item ">
                <a href="/register " class="nav__link ">Register</a>
            </li>
            {{#if user}}
            <li class="nav__item ">
                <a href="/logout" class="nav__link ">Logout</a>
            </li>
            {{else}}
            <li class="nav__item ">
                <a href="/login" class="nav__link ">Login</a>
            </li>

            {{/if}}

        </ul> --}}
    </nav>
</header>